.navigation-editor-wrapper{
    position: relative;
}
.white-theme {
    .title-desc {
        color: #313238;
    }
}
.other-theme {
    .title-desc {
        color: #fff;
        opacity: 0.86;
    }
}
