.process-render {
    .filter-render-wrapper {
        padding: 16px 24px;
        background: #FAFBFC;
    }

    .bk-form-vertical {
        display: flex;
        .bk-form-item {
            flex: 1;
            margin-top: 0 !important;
        }
    }
    .edit-text {
        color: #3a84ff;
        cursor: pointer;
        font-size: 12px;
    }
}