.manual-node-form-wrapper {
    height: 100%;
    .bkform-engine-renderer {
        max-height: calc(100% - 72px);
    }
    .task-detail-content-footer {
        margin-top: 20px;
        padding: 0 32px;
        .bk-lesscode-button,
        .bk-button {
            margin-right: 8px;
        }
    }
}