.widget-flow-workbench-container {
    padding: 20px 24px;
    background: #ffffff;
    .container-title {
        margin-bottom: 12px;
        font-size: 16px;
        color: #313238;
    }
    .bk-lesscode-table {
        border-bottom: 1px solid #dcdee5;
        .bk-lesscode-table-body tbody tr td {
            border-bottom-color: #dcdee5;
        }
    }
}