.phone-header {
  display: flex;
  background: #fff;
  padding: 8px 18px;
  font-size: 12px;
  color: #000;
  transform: translateX(-5px);
  div {
    flex: 1;
  }
  .header-left {
    flex: 4;
  }
  .header-mid {
    flex: 2;
    text-align: center;
  }
  .header-right {
    flex: 4;
    text-align: right;
    align-items: center;
  }
}
