.component-loading {
    display: block;
    background-color: transparent;
    .bk-loading-wrapper {
        z-index: 101;
        position: absolute;
        left: 0;
    }
    .bk-loading-body {
        display: inherit;
        height: 100%;
        width: 100%;
    }
}
