.mobile-empty-layout-wrapper {
    height: 100%;
    :global(.lesscode-editor-layout) {
        min-height: auto;
    }
}

.mobile-layout-wrapper {
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}
