@import "@/css/mixins/scroller";
.render {
    height: calc(100vh - 135px);
    overflow-x: auto;
    overflow-y: auto;
    @mixin scroller;
    :global(#render) {
        height: 100%;
        width: 100%;
    }
}
