.mobile-canvas-wrapper {
    display: flex;
    justify-content: space-around;
    min-width: 1000px;
    padding: 40px 0 80px;
    background: #fff;
    overflow-y: auto;
    height: 100%;
    ::v-deep .lesscode-layout-empty {
        min-height: 0;
        min-width: 0;
        padding: 0;
        overflow: hidden;
    }
}
.hidden {
    display: none;
}
