.render-widget-tab {
    pointer-events: all;
    .bk-tab-header {
        pointer-events: all;
        * {
            pointer-events: all;
        }
    }
    .lesscode-bk-tab-header {
        pointer-events: all;
        * {
            pointer-events: all;
        }
    }
}
