.flow-process-table {
    background: #FFFFFF;
    border: 1px dashed #CCCCCC;
    .filter-render-wrapper {
        padding: 16px 24px;
        background: #FAFBFC;
    }

    .bk-form-vertical, .bk-lesscode-form--vertical {
        display: flex;
        .bk-form-item, .bk-lesscode-form-item {
            flex: 1;
            margin-top: 0 !important;
        }
    }
}