.bkform-engine-field-widget {
    .widget-label {
        position: relative;
        display: inline-block;
        margin-bottom: 6px;
        line-height: 20px;
        font-size: 12px;
        color: #63656e;
        &.has-tips {
            border-bottom: 1px dashed #979ba5;
        }
    }
}