.render-md-editor {
    pointer-events: all;
    .v-note-op {
        pointer-events: all;
        * {
            pointer-events: all;
        }
    }
    .v-note-panel {
        pointer-events: all;
        * {
            pointer-events: all;
        }
    }
}
